.form {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  padding: 2rem;
  overflow: hidden;
  border-radius: 8px;
  max-width: 500px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form label {
  opacity: 0.8;
  font-size: 0.6rem;
  letter-spacing: 1px;
  padding: 0.3rem;
}

.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px; /* height of stripe */
  background: linear-gradient(
    to right,
    #a03f30,
    var(--primary-color)
  ); /* red stripe */
  border-top-left-radius: 8px; /* match form corners */
  border-top-right-radius: 8px;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcomeMessage h1 {
  text-align: center;
  font-family: "Newsreader";
  font-weight: 400;
  font-style: italic;
}

.welcomeMessage p {
  opacity: 0.6;
  font-size: 0.7rem;
  animation: fadeIn 2.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px); /* Gently drifts up as it appears */
  }
  to {
    opacity: 0.6;
    transform: translateY(0);
  }
}

.error {
  color: rgb(172, 44, 22);
  font-size: 0.6rem;
}
