.publishButton {
  border: none;
  padding: 0.6rem 0.3rem;
  background-color: var(--background-color);
  max-width: 150px;
  width: 100%;
}

.publishButton:hover {
  cursor: pointer;
  background-color: var(--primary-variant);
  color: white;
}
