.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Newsreader";
  background-color: #e9e1d7;
  padding: 1rem;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  font-weight: 300;
}

.logo > p span {
  color: var(--primary-color);
}
