.dashboardContainer {
  display: grid;
  grid-template: 1fr / 2.5fr 11fr;
  grid-template-areas: "sidebar content";
  width: 100%;
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.mainContent {
  display: grid;
  grid-template: max-content 1fr / 1fr;
  grid-template-areas:
    "navbar"
    "dashboard";
  padding: 1rem;
}
