.saveButton {
  border: none;
  padding: 0.3rem;
  background-color: var(--background-color);
  max-width: 75px;
  width: 100%;
}

.saveButton:hover {
  cursor: pointer;
  background-color: var(--primary-variant);
  color: white;
}
